html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #eee;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/* Header */
.navbar {
	background-color: #fff;
}

.navbar-brand {
	font-size: 24px;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: -10px;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}
/* Header */

.container-dashboard {
	padding: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 15px;
	background-color: #fff;
}

.container-task {
	padding: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 15px;
	background-color: #fff;
}

.cell {
	width: 20%;
	height: 25%;
	border: solid;
	margin: 0px;
	padding: 20px;
}
